body{
	background-color: white;
}
.container{
	width: 500px;
	height: 80%;
	border: 2px solid black;
	margin-top: 3%;
	margin-left: 15%;
}
form{
	padding: 30px 35px;
	background-color: #fff;
}
h2 {
	text-align: center;
}

.form-group{
	display: block;
	font-size: 14px;
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	border-bottom: 2px solid transparent;

}
.form-group:focus{
	outline: none;
	border-bottom: 2px solid #c75a59;
}

.form-group::-webkit-input-placeholder {
	color: rgb(102, 18. 18);
}
.form-group {
	display: block;
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	transition: all  .3s ease;
}
.form-group:placeholder-shown + .form-label {
	transform: translateY(-37px);
	opacity: 0;
	visibility: hidden;
}
.form-btn {
	text-align: center;
}
.btn{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	transition; all .2s ease;
	background-color: green;
	padding: 10px 15px;
}

.btn:hover {
	opacity: 0.5;
}
